@import url('https://fonts.googleapis.com/css?family=Fira%20Sans%20Extra%20Condensed:700|Fira%20Sans%20Extra%20Condensed:400');

:root{
    --text: #d5e8dd;
    --background: #141924;
    --primary: #a1ceb0;
    --darker: #76937f;
    --secondary: #384e6a;
    --accent: #7473b5;    
}
*{
    vertical-align: top;
    box-sizing: border-box;
    color: var(--text);

    margin: 0;
    padding: 0;
}
body{
    background: var(--background);
    font-family: 'Fira Sans Extra Condensed';
    font-weight: 400;
}

@keyframes shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(2px, 2px) rotate(2deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-2px, 2px) rotate(-2deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
@keyframes letter-spacing{
    0%{}
    100%{letter-spacing: 2px;}
}
h2{
   animation: letter-spacing 2s infinite alternate; 
}


nav{
    padding: 1% 0;
    position: sticky;
    top: 0;
    background: rgba(116, 115, 181, .3);
    backdrop-filter: blur(10px);
    z-index: 10;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0 2%;
}
nav ul li{
    list-style-type: none;
    margin: 0 3%;
}
nav ul li a{
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    transition: all 1s;
}
nav ul li a:hover{
    color: var(--primary);
    text-decoration: underline;
    font-size: 1.3em;
    letter-spacing: 1px;
    transition: all 1s;
}
nav a i{
    font-size: 1.2em;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
}
header section{
    width: 50%;
    padding: 15% 5% 5% 5%;
}
header h1{
    color: var(--primary);
    font-size: 3em;
}
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--darker); }
}
header h4{
    color: var(--darker);
    overflow: hidden; 
    border-right: 2px solid var(--accent); 
    white-space: nowrap; 
    margin: 3% 0;
    animation: 
      typing 3.5s steps(40, end) infinite alternate-reverse,
      blink-caret .75s step-end infinite;
}
header a{
    width: fit-content;
    float: right;
    padding: 2%;
    margin: 2% 0;

    background-color: var(--secondary);
    border-radius: 5px;
    text-decoration: none;
    transition: all 1s;
}
header a:hover{
    color: var(--primary);
    border-radius: 15px;
    transition: all 1s;
}


#sobremi{
    padding-top: 10%;
}
#sobremi h2{
    font-size: 3em;
    padding: 4% 0;
}
#sobremi2{
    background: linear-gradient(var(--background) 20%, var(--primary) 20%);
    padding-bottom: 10%;

    display: flex;
    justify-content: space-around;
}
#sobremi2 article{
    width: 20%;
    margin: 0 5%;
    padding: 2%;
    border-radius: 20px;
    background-color: var(--text); 
}
#sobremi article:hover{
    animation: shaking 5s infinite;
}
#sobremi2 p{
    color: var(--background);
}


#proyectos{
    margin: 15% 0;
}
#proyectos header h2{
    font-size: 3em;
    padding-bottom: 5%;
}
#p{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#proyectos article{
    background-color: var(--accent);
    padding: 12% 8%;
    
    transition: all 0.5s;
}
#proyectos article:hover{
    padding: 13% 9%;
    border: 5px solid var(--secondary);
    transform: rotate(3deg);
    transition: all 0.5s;
}


#contacto{
    background-color: var(--secondary);
    padding: 10%;
}
#contacto h2{
    text-align: center;
    font-size: 3em;
    margin-bottom: 5%;
}
form{
    margin: 0 20%;
    display: flex;
    flex-direction: column;
}
form label{
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--text);
    margin-top: 2%;
}
form input{
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: var(--text);
    color: var(--secondary);
    border: 0px solid var(--text);
    font-size: 1.2em;
    font-weight: bold;
}
form button{
    width: fit-content;
    padding: 2%;
    border-radius: 10px;
    background-color: var(--accent);
    border: 2px solid var(--accent);
    font-size: 1.2em;
    transition: all 1s;
    
}
form button:hover{
    color: var(--primary);
    border-radius: 20px;
    box-shadow: 3px 3px 0px var(--text);
    transition: all 1s;
}


footer{
    padding: 2% 0;
    
}
footer article{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 0 1%;
}
footer i{
    font-size: 1.8em;
}
footer h6{
    
    font-size: 1.1em;
    margin: 1% 0;
    text-align: center;
}